AWS_PROFILE=netpulse-root
AWS_REGION=us-east-1
CLOUDMAP_NAMESPACE_ID=ns-ds56tjw5q5vn2m4q
CLOUDMAP_SERVICE_NAME=shared-ai-platform
INSTANCE_ID=primary
TARGET_CNAME=ai-baf78f42f0924a8297f5f12f885b9239.ecs.us-east-1.on.aws
