AWS_PROFILE=netpulse-root
AWS_REGION=us-east-1
PUBLIC_HOSTED_ZONE_ID=ZXXXXXXXXXXXXXXXXXXXX
PUBLIC_FQDN=api.example.com
LISTENER_ARN=arn:aws:elasticloadbalancing:us-east-1:194191749520:listener/app/ecs-express-gateway-alb-fbff09ae/f25dba7de051fa5b/92daddaa63d181a7
